doctype html
html(lang="es")
  head
    meta(name='viewport', content='width=device-width')
    title Proyecto Pluma
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/style/buttons.css')

  body
    section#app-container
      block content

      div.footer
        a(class='prev-step button button-border-action', name='prev-step') Back
        a(class='next-step button button-border-action', name='next-step') Next

    // App Templates
    include ../BBTemplates/leapTrainer
    include ../BBTemplates/leapContainer
    include ../BBTemplates/duinoComp
    include ../BBTemplates/duinoCompSetup
    include ../BBTemplates/duinoConfig
    include ../BBTemplates/duinoContainer
    include ../BBTemplates/leapGestureCreation
    include ../BBTemplates/leapduinoContainer
    include ../BBTemplates/leapDuinoConfig
    include ../BBTemplates/leapDuino
    include ../BBTemplates/testerContainer
    include ../BBTemplates/metaphor
    include ../BBTemplates/metaphorContainer
    include ../BBTemplates/metaphorSlideshow
    include ../BBTemplates/interactionMediated
    include ../BBTemplates/sandbox

    // Vendor Scripts
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/store2/dist/store2.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/lz-string/libs/lz-string-1.3.3.js')
    script(src='/vendor/backbone/backbone.js')
    script(src='/vendor/BackboneJSModalView/Backbone.ModalDialog.js')
    script(src="http://localhost:8080/socket.io/socket.io.js")
    script(src='/vendor/leapjs/leap.js')
    script(src='/vendor/leaptrainer.js')
    script(src='/vendor/high-resolution-recording.js')
    script(src='/vendor/cross-correlation.js')
    script(src='/app/utils/simpleStorage.js')
    script(src='/vendor/points.js')

    // App Scripts
    script(src='/app/utils/templateCache.js')
    script(src='/app/views/baseView.js')
    script(src='/app/views/parentView.js')
    script(src='/app/views/appView.js')
    script(src='/app/views/step1.js')
    script(src='/app/views/step2.js')
    script(src='/app/views/step3.js')
    script(src='/app/views/step4.js')
    script(src='/app/views/step5.js')
    script(src='/app/views/leapChildView.js')
    script(src='/app/views/gestureCreationView.js')
    script(src='/app/views/componentView.js')
    script(src='/app/views/componentConfigView.js')
    script(src='/app/views/duinoChildView.js')
    script(src='/app/views/leapduinoChildView.js')
    script(src='/app/views/leapduinoConfigView.js')
    script(src='/app/views/metaphorChildView.js')
    script(src='/app/views/metaphorSlideshow.js')
    script(src='/app/views/sandboxChildView.js')
    script(src='/app/views/mediatedView.js')
    script(src='/app/router/router.js')
    script(src='/app/trainer.js')
    script(src='/app/starter.js')
    script(src='/app/main.js')