!!! 5
html
  head
    meta(name='viewport', content='width=device-width')
    title Pluma Project
    link(rel='stylesheet', href='/style/style.css')

  body
    section#app-container
      block content

    // App Templates
    include ../BBTemplates/leapTrainer
    include ../BBTemplates/leapContainer
    include ../BBTemplates/duinoContainer

    // Vendor Scripts
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/backbone/backbone.js')
    script(src='/vendor/leapjs/leap.js')
    script(src='/vendor/leaptrainer.js')
    script(src='/vendor/high-resolution-recording.js')

    // App Scripts
    script(src='/app/utils/templateCache.js')
    script(src='/app/views/baseView.js')
    script(src='/app/views/parentView.js')
    script(src='/app/views/appView.js')
    script(src='/app/views/step1.js')
    script(src='/app/views/step2.js')
    script(src='/app/views/leapChildView.js')
    script(src='/app/router/router.js')
    script(src='/app/trainer.js')
    script(src='/app/starter.js')
    script(src='/app/main.js')

