!!! 5
html
  head
    title Pluma Project
    link(rel='stylesheet', href='/style/style.css')

  body

    block content

    block templates

    include ../BBTemplates/leapTemplate

    // Vendor Scripts
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/backbone/backbone.js')
    script(src='/vendor/leapjs/leap.js')
    script(src='/vendor/leaptrainer.js')
    script(src='/vendor/high-resolution-recording.js')

    // App Scripts
    script(src='/app/utils/templateCache.js')
    script(src='/app/views/baseView.js')
    script(src='/app/views/parentView.js')
    script(src='/app/views/step1.js')
    script(src='/app/views/leapChildView.js')
    script(src='/app/router/router.js')
    script(src='/app/trainer.js')
    script(src='/app/starter.js')
    script(src='/app/main.js')

