!!! 5
html
  head
    meta(name='viewport', content='width=device-width')
    title Pluma Project
    link(rel='stylesheet', href='/style/style.css')

  body
    section#app-container
      block content

      div.footer
        button(class='prev-step', name='prev-step') Back
        button(class='next-step', name='next-step') Next

    // App Templates
    include ../BBTemplates/leapTrainer
    include ../BBTemplates/leapContainer
    include ../BBTemplates/duinoConfig
    include ../BBTemplates/duinoComp
    include ../BBTemplates/duinoContainer
    include ../BBTemplates/leapduinoContainer
    include ../BBTemplates/leapDuino
    include ../BBTemplates/testerContainer
    include ../BBTemplates/sandbox

    // Vendor Scripts
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/lawnchair/lib/lawnchair.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/backbone/backbone.js')
    script(src="http://localhost:8080/socket.io/socket.io.js")
    script(src='/vendor/leapjs/leap.js')
    script(src='/vendor/leaptrainer.js')
    script(src='/vendor/high-resolution-recording.js')
    script(src='/vendor/cross-correlation.js')

    // App Scripts
    script(src='/app/utils/templateCache.js')
    script(src='/app/views/baseView.js')
    script(src='/app/views/parentView.js')
    script(src='/app/views/appView.js')
    script(src='/app/views/step1.js')
    script(src='/app/views/step2.js')
    script(src='/app/views/step3.js')
    script(src='/app/views/step4.js')
    script(src='/app/views/leapChildView.js')
    script(src='/app/views/duinoChildView.js')
    script(src='/app/views/componentView.js')
    script(src='/app/views/leapduinoChildView.js')
    script(src='/app/views/sandboxChildView.js')
    script(src='/app/router/router.js')
    script(src='/app/trainer.js')
    script(src='/app/starter.js')
    script(src='/app/main.js')

