body
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-y: hidden
  overflow-x: hidden
  width: 100%
  padding: 0
  margin: 0
a
  color: #00B7FF

h1
  font-size: 3em

h2
  font-size: 2em
  padding: 0 0.3125em


.step
  width: 95%
  height: 500px
  margin-left: auto
  margin-right: auto
  border-width: 1px
  border-style: solid
  border-color: black

.footer
  width: 95%
  height: 100px
  text-align: center
  margin-left: auto
  margin-right: auto
  margin-top: 50px

// ******************
// Common steps style
// ******************

#gesture-sandbox, #duino-sandbox
  width: 85%
  height: 300px
  border-width: 1px
  border-style: solid
  border-color: red
  margin-left: auto
  margin-right: auto
  margin-top: 50px

// ******************
// Step 1 (Leap)
// ******************

.panel-small
  width: 25%
  margin-left: auto
  margin-right: auto
  margin-top: 50px
  border-top-width: 2px
  border-top-style: solid
  border-top-color: black

.panel-small button
  width: 100%;

.panel-small .stop-trainer
  float: right

.trainer-msg
  text-align: center
  font-size: 2em
  color: gray

// ******************
// Step 2 (Duino)
// ******************
.duino-board
  float: right
  width: 30%
  height: 300px
  padding: 0.8em 0.2em

.duino-components, .user-gestures
  width: 70%
  height: 150px
  margin-top: 10px
  padding: 0.4em

.duino-comp, .user-gest
  width: 10%
  height: 40px
  border-width: 1px
  border-style: solid
  border-color: black

.duino-status
  width: 15%
  height: 70px
  border-width: 2px
  border-style: solid
  border-color: green  










