body{font:100% "Lucida Grande",Helvetica,Arial,sans-serif;top:0;left:0;right:0;bottom:0;overflow-y:hidden;overflow-x:hidden;width:100%;padding:0;margin:0}
a{color:#00b7ff}
h1{font-size:3em}
h2{font-size:2em;padding:0 .3125em}
.step{width:95%;height:500px;margin-left:auto;margin-right:auto;border-width:1px;border-style:solid;border-color:#000}
.footer{width:95%;height:100px;text-align:center;margin-left:auto;margin-right:auto;margin-top:50px}
#gesture-sandbox,#duino-sandbox{width:85%;height:300px;border-width:1px;border-style:solid;border-color:#f00;margin-left:auto;margin-right:auto;margin-top:50px}
.panel-small{width:25%;margin-left:auto;margin-right:auto;margin-top:50px;border-top-width:2px;border-top-style:solid;border-top-color:#000}
.panel-small button{width:100%}
.panel-small .stop-trainer{float:right}
.trainer-msg{text-align:center;font-size:2em;color:#808080}
.leap-msg{text-align:center;font-size:.7em;font-weight:bold;color:#008000}
.leap-msg > .warning{color:#ffa500}
.duino-board{float:right;width:30%;height:300px;padding:.8em .2em}
.duino-components,.user-gestures{width:70%;height:150px;margin-top:10px;padding:.4em}
.duino-comp,.user-gest{width:14%;height:40px;border-width:1px;border-style:solid;border-color:#000;font-size:.8em;margin-top:.5em}
.duino-comp p{text-align:left;display:inline-block;margin:0;padding:.2em;vertical-align:top;zoom:1;*display:inline;}
.duino-comp button{text-align:center;float:right}
.duino-status{width:15%;height:70px;border-width:2px;border-style:solid;border-color:#008000}
.duino-comp.over{border-color:#00f}
.fullscreen{width:95%;margin-left:auto;margin-right:auto;height:300px;border-width:5px;border-style:solid;border-color:#ff0}
.fullscreen:before{position:absolute;display:block;content:'';box-sizing:border-box;margin-top:-4px;margin-left:-4px;width:90.7%;height:309px;border-width:5px;border-style:dashed;border-color:#000}
