body
  font-size: 100%
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", "Courier", monospace
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: hidden
  overflow-x: hidden
  padding: 0
  margin: 0
  background-image: url('../images/hoffman.png')
  background-repeat: repeat
  background-position: top left
  background-attachment: scroll
  color: #2B2B2B

a
  color: #00B7FF

h1
  font-size: 3em

h2
  font-size: 2em
  padding: 0 0.3125em

canvas
  position: absolute
  display: block
  right: 2%
  left: 3%
  bottom: 15%
  padding-left: 0
  padding-right: 0
  border: solid 1px #336699

.step
  position: absolute
  top: 94px
  bottom: 94px
  width: 100%
  border-bottom: solid 2px #369
  border-top: solid 2px #369

.header
  margin: 0.6em 0.3em
  vertical-align: top

.footer
  position: absolute
  height: 100px
  bottom: 10px
  right: 10px
  left: 10px

.error
  visibility: hidden
  color: red
  font-style: italic

.right
  float: right

.left
  float: left

.center
  margin-left: auto
  margin-right: auto
  text-align: center

.clearAll
  clear: both

.ghost
  background-color: transparent
  opacity: 0.4

// ******************
// Common steps style
// ******************

.sandbox
  width: 95%
  height: 85%

.sidebox
  position: absolute
  height: 100%
  width: 27%
  right: 0
  top: 0
  border-left-style: solid
  border-left-width: 2px
  border-left-color: #336699
  padding-left: 1.5%
  overflow-y: scroll
  overflow: auto

.footer a
  position: absolute
  display: inline-block
  width: 10%
  bottom: 10px

.footer .prev-step
  left: 35%

.footer .next-step
  left: 55%


// ******************
// Step 1 (Leap)
// ******************

#gesture-sandbox
  width: 73%

.panel-small
  position: absolute
  width: 25%
  bottom: 4%
  left: 18.5% // absoluteHalfScreenSize - (elementWidth/2)

.panel-small .start-trainer
  width: 100%

.panel-small .stop-trainer
  float: right

.trainer-msg
  position: relative
  text-align: center
  height: 2em
  font-size: 1.4em
  top: -14px
  color: gray

.leap-msg
  //padding-bottom: 0.4em
  text-align: center
  height: 1em
  font-size: 0.7em
  font-weight: bold
  color: green

.leap-msg > .warning
  color: orange

.known-gestures p
  position: relative
  right: -151px

.reset
  position: relative
  right: -151px
  color: gray
  font-weight: bold
  cursor: pointer
  display: block
  margin: 1em 0

.delete
  position: relative
  right: -151px
  color: red
  font-weight: bold
  cursor: pointer

// ******************
// Step 2 (Duino)
// ******************

.duino-board
  float: right
  width: 360px
  height: 150px
  background-image: url("../images/duino_board.png")
  background-repeat: no-repeat
  background-size: 50%
  padding: .8em .2em
  margin: 0

.blur
  width:367px
  height:159px
  filter: blur(3px)
  -webkit-filter: blur(3px)
  -moz-filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)

.user-gestures
  width: 100%
  overflow-y: scroll
  overflow: auto
  height: 56%

.duino-comp, .user-gest
  width: 14%
  height: 40px
  font-size: 0.8em
  margin-top: 0.5em

.duino-comp
  background-size: 100%
  background-repeat: no-repeat
  height: 128px
  width: 128px

.duino-comp.lcd
  background-image: url("../images/components/128/lcd.png")

.duino-comp.servo
  background-image: url("../images/components/128/servo.png")

.duino-comp.vibro
  background-image: url("../images/components/128/vibro.png")

.duino-comp.motor
  background-image: url("../images/components/128/motor.png")

.duino-comp.small
  background-size: 100%
  background-repeat: no-repeat
  height: 80px
  width: 100px

.user-gest
  background-image: url("../images/five_finger_gesture.png")
  background-size: 91%
  background-repeat: no-repeat
  width: 136px
  height: 117px

.user-gest > p
  font-size: 1.2em
  font-weight: bold

.duino-comp p
  text-align: left
  display: inline-block
  margin: 0
  padding: 0.2em
  vertical-align: top
  zoom: 1 /* Fix for IE7 */
  *display: inline /* Fix for IE7 */

.duino-comp span.title
  position: relative
  right: -151px
  display: block
  height: 1.3em
  font-size: 1.2em
  font-weight:bold

.duino-comp span.delete
  right: -119px

.duino-comp span.enable
  position: relative
  right: -150px

.duino-comp button
  position: relative
  right: -190px
  // text-align: center
  // float: right

.duino-status
  width: 15%
  height: 70px
  border-width: 2px
  border-style: solid
  border-color: green

.comp-config
  padding: 0.8em

.comp-config .options
  clear: right

.config-end
  width: 100%
  margin-top: 0.5em
  padding: 0.4em 0
  border-top: solid 2px #336699


// ******************
// Step 3
// ******************

.duino-components, .user-gestures
  -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box   /* Firefox, other Gecko */
  box-sizing: border-box
  width: 50%
  height: 90%
  padding-left: 1.2em

.duino-comp.over
  background-color: blue
  opacity: 0.4

.duino-comp.linked, .user-gest.linked
  border-radius: 2px
  border-width: 2px

#leapduino-sandbox .duino-comp, #leapduino-sandbox .user-gest
  margin-bottom: 1.4em

.config-central
  margin-left: auto
  margin-right: auto
  padding: 0.5em

.config-central .item-labels, .config-central .item-config
  //width: 33%
  display: inline-block
  vertical-align: top

.config-central .item-labels:first-of-type
  text-align: right

.config-central .item-labels:last-of-type
  text-align: left

.config-central .item-config input
  width: 74%

.item-row
  display: block
  height: 2em
  margin: 0 15px

.item-row span
  display: inline-block
  vertical-align: top

.item-row input[type="radio"]
  width: 16%

.item-row input[type="radio"]:first-of-type
  float:left

.item-row input[type="radio"]:last-of-type
  float:right

// ******************
// Step 4
// ******************

#metaphor-sandbox
  height: 80%
  overflow-y: scroll
  overflow: auto

.metaphor-item h3
  font-style: italic

.metaphor-item p
  margin-top: -0.8em
  color: grey

.metaphor-item img
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: -1.5em

.metaphor-item
  width: 35%
  display: block
  margin: 0
  padding: 0.2em
  border-style: solid
  border-color: green

.metaphor-selected
  background: rgba(39,62,84,0.82)
  overflow: hidden
  height: 100%
  z-index: 2

// ******************
// Step 5
// ******************

.fullscreen
  position: absolute
  top: 94px
  bottom: 94px
  right: 25px
  left: 25px
  width: 95%
  border-image-slice: 20 51 26 66
  border-image-width: 13px 13px 13px 13px
  border-image-outset: 13px 13px 13px 13px
  border-image-repeat: repeat repeat
  border-image-source: url("http://img.photobucket.com/albums/v646/MusicAddict135/by_tile.png")

.fullscreen p
  position: absolute
  top: 40%
  left: 25%
  width: 17%
  height: 5%
  text-align: center
  font-size: 1.2em
  font-weight: bold
  color: silver

#my_placeholder
  position: absolute
  top: 94px
  bottom: 94px
  right: 25px
  left: 25px
  width: 95%

#my_placeholder span
  font-size: 2em
  font-weight: bold
  color: green

#my_placeholder img
  height: 100%
  display: block
  margin-right: auto
  margin-left: auto

.go-right
  position: absolute
  top: 45%
  right: 0.5em

.go-left
  position: absolute
  top: 45%
  left: 0.5em



// ******************
// Icons
// ******************










