body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-size: 100%
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-y: hidden
  overflow-x: hidden
  width: 100%
a
  color: #00B7FF
