body{font:100% "Lucida Grande",Helvetica,Arial,sans-serif;top:0;left:0;right:0;bottom:0;overflow-y:hidden;overflow-x:hidden;padding:0;margin:0}
a{color:#00b7ff}
h1{font-size:3em}
h2{font-size:2em;padding:0 .3125em}
canvas{display:block;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;border-style:solid;border-color:#f00;border-width:1px}
.step{position:absolute;top:94px;bottom:94px;width:100%}
.footer{position:absolute;height:100px;bottom:10px;right:10px;left:10px}
.error{visibility:hidden;color:#f00;font-style:italic}
.sandbox{width:95%;height:85%;border-width:1px;border-style:solid;border-color:#f00;margin-left:auto;margin-right:auto}
.footer button{position:absolute;display:inline-block;width:10%;bottom:10px}
.footer button.prev-step{left:35%}
.footer button.next-step{left:55%}
#step-one{width:80%}
.panel-small{position:absolute;width:25%;bottom:4%;left:37.5%;border-top-width:2px;border-top-style:solid;border-top-color:#000}
.panel-small button{width:100%}
.panel-small .stop-trainer{float:right}
.trainer-msg{text-align:center;font-size:2em;color:#808080}
.leap-msg{padding-bottom:.4em;text-align:center;height:1em;font-size:.7em;font-weight:bold;color:#008000}
.leap-msg > .warning{color:#ffa500}
.known-gestures{position:absolute;left:100%;width:100%;top:14.25%}
.known-gestures p{padding-bottom:3em}
.gest-reset{left:0;bottom:0;color:#808080;font-weight:bold;cursor:pointer}
.gest-delete{float:right;bottom:0;right:0;color:#f00;font-weight:bold;cursor:pointer}
.duino-board{float:right;width:360px;height:150px;background-image:url("../images/duino_board.png");background-repeat:no-repeat;background-size:50%;padding:.8em .2em;margin:0}
.blur{width:367px;height:159px;filter:blur(3px);-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px)}
.user-gestures{width:100%;overflow-y:scroll;height:56%}
.duino-comp,.user-gest{width:14%;height:40px;border-width:1px;border-style:solid;border-color:#000;font-size:.8em;margin-top:.5em}
.duino-comp{background-image:url("../images/protoboard.gif");background-size:256px;width:256px;height:92px}
.user-gest{background-image:url("../images/five_finger_gesture.png");background-size:91%;background-repeat:no-repeat;width:136px;height:117px}
.duino-comp p{text-align:left;display:inline-block;margin:0;padding:.2em;vertical-align:top;zoom:1;*display:inline;}
.duino-comp button{text-align:center;float:right}
.duino-status{width:15%;height:70px;border-width:2px;border-style:solid;border-color:#008000}
.duino-comp.over{border-color:#00f}
.duino-comp.linked,.test-gest.linked{border-color:#008000;border-width:2px}
#metaphor-sandbox{height:80%;overflow-y:scroll}
.metaphor-item h3{font-style:italic}
.metaphor-item p{margin-top:-.8em;color:#808080}
.metaphor-item img{display:block;margin-left:auto;margin-right:auto;margin-top:-1.5em}
.metaphor-item{width:35%;display:block;margin:0;padding:.2em;border-style:solid;border-color:#008000}
.metaphor-selected{background:rgba(39,62,84,0.82);overflow:hidden;height:100%;z-index:2}
.fullscreen{position:absolute;top:94px;bottom:94px;right:25px;left:25px;width:95%;border-image-slice:20 51 26 66;border-image-width:13px 13px 13px 13px;border-image-outset:13px 13px 13px 13px;border-image-repeat:repeat repeat;border-image-source:url("http://img.photobucket.com/albums/v646/MusicAddict135/by_tile.png")}
.fullscreen p{position:absolute;top:40%;left:25%;width:17%;height:5%;text-align:center;font-size:1.2em;font-weight:bold;color:#c0c0c0}
#my_placeholder{position:absolute;top:94px;bottom:94px;right:25px;left:25px;width:95%}
#my_placeholder span{font-size:2em;font-weight:bold;color:#008000}
#my_placeholder img{height:100%;display:block;margin-right:auto;margin-left:auto}
.go-right{position:absolute;top:45%;right:.5em}
.go-left{position:absolute;top:45%;left:.5em}
