script(type='text/template', id='duino-comp-tpl')
  span
    | <%= componentType %>
  //- button(class='component-button', name="<%= componentType %>-button", data-type="<%= componentType %>")
    //- | Activar
  | <button name="<%= componentType %>-button" data-type="<%= componentType %>" class="component-setup">Configurar</button>
  | <button name="<%= componentType %>-button" data-type="<%= componentType %>" class="component-activate">Activar</button>