script(type='text/template', id='duino-comp-setup-tpl')
  div.comp-config
    | <span class="duino-comp small <%= componentType %> right"></span>
    h3 Configurar <%= componentType %>
    form
      div.options
        p Opciones
        div.hashitem
          input(class='key', type='text', placeholder='Pin')
          input(class='value', type='text', placeholder='Valor')
        button(id='addKeyVal', type='button')
          |  Agregar Pin/Valor

      div.actions
        p Parametros
        input(id='params', type='text')

      div.center.config-end
        button(id='confirm-setup', value='start')
          |  Guardar
