script(type='text/template', id='duino-tpl')
  div.duino-board
    div.duino-status

  div.duino-components
    p
      | Componentes Arduino
    //- div.duino-comp
    //-   span
    //-     | LCD
    //-   button(class='component-button', name='lcd-button', data-type='lcd')
    //-     | Activar

    //- div.duino-comp
    //-   span
    //-     | Motor

    //-   button(class='component-button', name='motor-button', data-type='motor')
    //-     | Activar
