script(type='text/template', id='duino-comp-tpl')
  span
    | <%= componentType %>
  | <button name="<%= componentType %>-button" data-type="<%= componentType %>" class="component-setup button button-border-royal">Configurar</button>