script(type='text/template', id='leap-trainer-tpl')
  div.leap-msg
    p#leap-feedback
      
  div.trainer-msg
    p#trainer-feedback
      | Esperando nuevo gesto...

  canvas

  div.panel-small
    //- button(class='start-trainer button button-border', name='start-trainer')
    a(class='start-trainer button button-border-primary button-large', name='start-trainer')
      | Nuevo Gesto

  div.known-gestures.sidebox
    h3 Gestos Creados
    div.known-gestures-list
