script(type='text/template', id='leapduino-tpl')
  div.duino-board
    div.duino-status

  div.duino-components
    p
      | Componentes Arduino

    div#lcd.duino-comp(dropzone='link string:text/plain')
      span
        | LCD

    div#servo.duino-comp(dropzone='link string:text/plain')
      span
        | Servo


  div.user-gestures

