script(type='text/template', id='leap-trainer-tpl')
  div.panel-small
    button(class='start-trainer', name='start-trainer')
      | New Gesture
    button(class='stop-trainer', name='stop-trainer')
      | Cancel Gesture