script(type='text/template', id='leap-trainer-tpl')
  div.trainer-msg
    p#trainer-feedback
      | Esperando nuevo gesto...
  div.leap-msg
    p#leap-feedback

  canvas

  div.panel-small
    button(class='start-trainer', name='start-trainer')
      | New Gesture

  div.known-gestures
    h3 Gestos Creados
    div.known-gestures-list
