script(type='text/template', id='leap-creation-tpl')
  p Gesture Creation
  formde
    label(for='gesture-name') Name:
    input(id='gesture-name', type='text', placeholder='your gesture name...')
    p.error
    button(id='createGesture') Ready

