extends ../views/layout

block templates
  script(type='text/template', id='leap-tpl')
    <div class='panel-small'>
      <button class='start-trainer', name='start-trainer'>New Gesture</button>
      <button class='stop-trainer', name='stop-trainer'>Cancel Gesture</button> 
    </div>