script(type='text/template', id='leap-creation-tpl')
  p Gesture Creation
  form
    label(for='gesture-name') Name:
    input(id='gesture-name', type='text', placeholder='your gesture name...')
    p.error

    div.center.config-end
      button(id='createGesture', class='button button-border-royal') Ready



