extends ../views/layout

block content
  h2 dashboard
  article#step-one.step
    //- div#leap-container
    //-   h2 Make a new gesture
    //-   div#gesture-sandbox

  article#step-two.step
    //- div#duino-container
    //-   h2 Connect gestures with actions

  //-article#step-three.step
  //-   div#graphics-container
  //-     h2 Add Visual Feedback

