extends ../views/layout

block content
  h2 dashboard
  div.panel
    div#step-one
      div#leap-container
        h2 Create a new gesture
    div#step-two
      div#duino-container
        h2 Connect gestures with actions
    div#step-three
        h2 Add Visual Feedback
      div#graphics-container

  div.footer
    button(class='prev-step', name='prev-step') Back
    button(class='next-step', name='next-step') Next


block templates
  script(type='text/template', id='leap-tpl')
    div.panel-small
      button(class='start-trainer', name='start-trainer')
        New Gesture
      button(class='stop-trainer', name='stop-trainer')
        Cancel Gesture