extends ../views/layout

block content
  h2 dashboard
  article#step-one.step


  article#step-two.step


  //-article#step-three.step
  //-   div#graphics-container
  //-     h2 Add Visual Feedback

